@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Mina:400,700');

h1 {
    font-family: 'Mina', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #EFEFEF;
}

a {
    color: #000000;
    text-decoration: none;
}

#iconholder {
  /*position: absolute;*/
  position: relative;
  text-align: center;
  bottom: 0px;
}

#iconholder img {
  width: 100px;
  border-radius: 25%;
}

#menu ul {
  list-style: none;
  padding-left: 0;
  display: table;   
}

#menu li {
  display: inline;
}

#menu ul li {
  position: relative;
  color: #FFF;
  text-decoration: none;
  font-size: 20px;
  padding-right: 10px; 
  padding-left: 10px;
}

#menu ul li:hover {
  color: #FFF;
}

#menu ul li:before {
    background-color: black;
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #555;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

#menu ul li:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(.7);
    transform: scaleX(.7);
}

.button {
  text-decoration: none;
  padding: 2px 6px 2px 6px;
}